
*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   background-color: var(--basic-white);
   font-family: "Cuprum", Arial, sans-serif;
   padding: 0;
   margin: 0;
   font-size: 18px;
   line-height: 24px;
   min-width: 960px;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
}

.page {
   height: 100%;
}

.page-body {
   min-height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.container {
   width: 960px;
   margin: 0 auto;
   padding: 0 10px;
}
